<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<header>
    <h1>{{ title }}</h1>
    {% if user.is_authenticated %}
        <div>{{ user.username }}</div>
        <a href="{% url 'users:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'users:login' %}">Войти</a>
    {% endif %}

    <nav>
        <a href="{% url 'users:user_list' %}">Разработчики</a>
        <a href="{% url 'tasks:project_list' %}">Проекты</a>
        <a href="{% url 'tasks:task_list' %}"> Ваши задачи</a>
    </nav>


    <hr>
</header>


<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <hr>
</footer>

</body>
</html>