<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Тимлид</th>
            <th>Начало</th>
            <th>Дедлайн</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'tasks:project_detail' pk=project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.description }}</td>
                <td>
                    <a href="{% url 'users:user_page' username=project.owner.username %}"> 
                        {{ project.owner.username }}
                    </a>
                </td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
