{% if task.owner.pk == request.user.pk or task.project.owner.pk == request.user.pk %}

    <select id="select_status_{{ task.id }}" onchange="updateStatus('{{ task.id }}')">
        {% for status in task.STATUS_CHOICES %}
            <option value="{{ status.0 }}"
                    {% if status.0 == task.status %}selected{% endif %}>{{ status.1 }}</option>
        {% endfor %}
    </select>

{% else %}

    <span class="badge {% if task.status == 'todo' %}bg-warning{% elif task.status == 'in_progress' %}bg-primary{% elif task.status == 'completed' %}bg-success{% endif %}">
            {{ task.status }}
        </span>

{% endif %}
