{% load tags %}
{% load static %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Начало</th>
            <th>Дедлайн</th>
            <th>Статус</th>
            <th>Приоритет</th>
            <th>Разработчик</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks|sort_by:'end_date' %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>

                <td>
                    {% include 'elems/tasks/status_of_task.html' %}
                </td>

                <td>
                    <span class="badge {% if task.priority == 'high' %}bg-danger{% elif task.priority == 'medium' %}bg-warning{% else %}bg-success{% endif %}">
                        {{ task.priority }}
                    </span>
                </td>

                <td><a href="{% url 'users:user_page' username=task.owner.username %}">{{ task.owner.username }}</a></td>
                <td>
                    <div>
                    {% if task.project.owner.pk == request.user.pk %}
                        <button onclick="deleteTask('{{ task.id }}')" class="btn btn-danger">Delete</button> <!-- Кнопка для удаления задачи -->
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/update_status.js' %}"></script>
<script src="{% static 'js/delete_task.js' %}"></script>
