{% load tags %}
{% load static %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Owner</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks|sort_by:'end_date' %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.end_date }}</td>

            {% include 'elems/tasks/status_of_task.html' %}

            <td>{{ task.priority }}</td>
            <td><a href="{% url 'users:user_page' username=task.owner.username %}">{{ task.owner.username }}</a></td>
            <td>
                {% if task.project.owner.pk == request.user.pk %}
                    <button onclick="deleteTask('{{ task.id }}')">Delete</button>  <!-- Кнопка для удаления задачи -->
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/update_status.js' %}"></script>
<script src="{% static 'js/delete_task.js' %}"></script>