{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <div class="container">
        <ul class="list-group">
            {% for user in object_list|sort_by:"role" %}
                {% if not user.is_superuser %}
                    <li class="list-group-item d-flex justify-content-between align-items-center fs-2">
                        <a href="{% url 'users:user_page' username=user.username %}">{{ user.username }}</a>
                        <span class="badge bg-primary rounded-pill">{{ user.get_role_display }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
