{% extends 'base.html' %}
{% load tags %}
{% block content %}
    
    <h1>{{ project.name }}</h1>
    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>Тимлид:</strong>
        <a href="{% url 'users:user_page' username=project.owner.username %}"> {{ project.owner.username }}</a>
    </p>
    <p><strong>Start Date:</strong> {{ project.start_date }}</p>
    <p><strong>End Date:</strong> {{ project.end_date }}</p>
    
    <h2>Задачи:</h2>
    {% if request.user.pk == project.owner.pk %}
    <a href="{% url 'tasks:add_task' pk=project.pk %}"> Добавить новую задачу </a>
    {% endif %}
    
    {% include 'elems/tasks/task_list.html' with tasks=project.task_set.all %}
    
{% endblock %}