{% extends 'base.html' %}
{% load tags %}
{% block content %}
    
    <h1>{{ project.name }}</h1>
    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>Owner:</strong>
        <a href="{% url 'users:user_page' username=project.owner.username %}"> {{ project.owner.username }}</a>
    </p>
    <p><strong>Start Date:</strong> {{ project.start_date }}</p>
    <p><strong>End Date:</strong> {{ project.end_date }}</p>
    
    <h2>Задачи:</h2>
    <a href="{% url 'tasks:add_task' pk=project.pk %}"> Добавить новую задачу </a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.task_set.all|sort_by:'end_date' %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.end_date }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}